---
title: Collections
layout: base.njk
---

<h1>Collections</h1>
{% set groups = collections.writings | sortByDate | groupByCollection %}
{% for collection, items in groups %}
<section class="collection">
  <h2 id="{{ collection }}">{{ collection | title }}</h2>
  <ul class="writing-list">
  {% for writing in items %}
    <li>
      <a href="{{ writing.url | url }}">{{ writing.data.title }}</a>
      <span class="meta">{{ writing.data.date | formatDate }}</span>
    </li>
  {% endfor %}
  </ul>
</section>
{% endfor %}
